@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	width: 100%;
	min-height: 100vh;
	position: relative;
}
.sidenav {
	width: 280px;
	height: 100%;
	position: fixed;
	z-index: 999;
	transition: all 0s ease;
}
.sidenav-thinning .sidenav {
	width: 80px;
}
.sidenav-thinning .main-content {
	padding-left: 80px !important;
}
.sidenav-thinning .sidenav .sidenav-logo span,
.sidenav-thinning .sidenav .nav-link span {
	opacity: 0;
	display: none;
	transition: all 10s ease;
}
.sidenav-thinning .sidenav:hover {
	width: 280px;
}
.sidenav-thinning .sidenav:hover .nav-link i.bi {
	margin: 0;
}
.sidenav-thinning .sidenav:hover .sidenav-logo span,
.sidenav-thinning .sidenav:hover .nav-link span {
	display: inline-block;
	opacity: 1;
}
#side-button {
	display: inline-block;
	cursor: pointer;
	transition: all .7s ease;
}
.sidenav-thinning #side-button {
	transform: rotate(180deg);
}

.sidenav .nav-item .nav-link.active {
	background: var(--bs-primary);
	color: var(--bs-white);
	border-radius: 0!important;
}
.main-content {
	padding-left: 280px;
	transition: all .7s ease;
}

.nocarret.dropdown-toggle:after { content: none }

.btn-shopee {
	--bs-btn-color: #fff !important;
	--bs-btn-bg: #f44f31 !important;
	--bs-btn-border-color: #f44f31 !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #c43920 !important;
	--bs-btn-hover-border-color: #c43920 !important;
	--bs-btn-focus-shadow-rgb: 60, 153, 110 !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #c43920 !important;
	--bs-btn-active-border-color: #13653f !important;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
	--bs-btn-disabled-color: #fff !important;
	--bs-btn-disabled-bg: #f44f31 !important;
	--bs-btn-disabled-border-color: #f44f31 !important;
}
.btn-tokopedia {
	--bs-btn-color: #fff !important;
	--bs-btn-bg: #439341 !important;
	--bs-btn-border-color: #439341 !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #2a6828 !important;
	--bs-btn-hover-border-color: #2a6828 !important;
	--bs-btn-focus-shadow-rgb: 60, 153, 110 !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #2a6828 !important;
	--bs-btn-active-border-color: #13653f !important;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
	--bs-btn-disabled-color: #fff !important;
	--bs-btn-disabled-bg: #439341 !important;
	--bs-btn-disabled-border-color: #439341 !important;
}
.btn-lazada {
	--bs-btn-color: #fff !important;
	--bs-btn-bg: #16196e !important;
	--bs-btn-border-color: #16196e !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #121562 !important;
	--bs-btn-hover-border-color: #121562 !important;
	--bs-btn-focus-shadow-rgb: 60, 153, 110 !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #121562 !important;
	--bs-btn-active-border-color: #13653f !important;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
	--bs-btn-disabled-color: #fff !important;
	--bs-btn-disabled-bg: #16196e !important;
	--bs-btn-disabled-border-color: #16196e !important;
}
.btn-tiktokshop {
	--bs-btn-color: #fff !important;
	--bs-btn-bg: #1a1a1a!important;
	--bs-btn-border-color: #1a1a1a!important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #080808 !important;
	--bs-btn-hover-border-color: #080808 !important;
	--bs-btn-focus-shadow-rgb: 60, 153, 110 !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #080808 !important;
	--bs-btn-active-border-color: #13653f !important;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
	--bs-btn-disabled-color: #fff !important;
	--bs-btn-disabled-bg: #1a1a1a!important;
	--bs-btn-disabled-border-color: #1a1a1a!important;
}

.form-control.dropdown {
	border-radius: 0;
}

.tags-badge.badge.bg-primary.text-truncate {
	display: flex;
	align-items: center;
	border-radius: 0;
}